body {
  font-family: "Poppins";
  background-color: #f9fbfd;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.container {
  max-width: 1024px;
}

#title {
  text-align: center;
  margin-bottom: 70px;
}

#input-bmi {
  /* display: none; */
  z-index: 2;
  position: relative;
}

.wrap {
  display: flex;
  justify-content: space-around;
}

.box {
  width: 260px;
  height: 200px;
  border: 1px solid #94a3b8;
  border-radius: 15px;
  text-align: center;
  background-color: #f9fbfd;
}
.box > .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #14b8a6;
  text-align: center;
  position: relative;
  top: -37px;
  left: 35%;
  border: 10px solid #f9fbfd;
}
.box > .circle > p {
  color: #e2e8f0;
  font-weight: 600;
  font-size: 15px;
}
.box > p {
  position: relative;
  top: -37px;
  margin: 0;
}

.img-box {
  position: relative;
  top: -15px;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

input[type="radio"] + label {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #e6eef7;
  margin-right: 20px;
}
input[type="radio"] + label > img {
  width: 70px;
  height: 70px;
  transition: 500ms all;
  border-radius: 50%;
  opacity: 0.3;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
input[type="radio"]:checked + label > img {
  border: 1px solid #fff;
  background-color: #14b8a6;
  opacity: 0.8;
}

.input-container {
  position: relative;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 50px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #e2e8f0;
  background-color: #e6eef7;
  padding-right: 30px;
  padding-left: 10px;
}

input[type="text"]:focus {
  background-color: white;
  outline: none;
}

.input-container span {
  position: absolute;
  right: 95px;
  top: 10px;
}

.error {
  color: #ef4444;
  /* padding-right: 155px; */
}

.calculate {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.btn-calculate {
  width: 130px;
  height: 30px;
  border-radius: 10px;
  background-color: #14b8a6;
  text-align: center;
  color: #f5f5f5;
  padding-top: 5px;
  margin-right: 10px;
}

.btn-calculate:hover {
  cursor: pointer;
  background-color: #119788;
}

.display-none {
  display: none;
}

#output-bmi {
  z-index: 2;
  position: relative;
  height: 280px;
  margin: 0 60px 0 60px;
}

#output-bmi > .calculate {
  margin-top: 60px;
  display: flex;
  justify-content: start;
}
#output-bmi > .wrap {
  background-color: #f9fbfd;
  border: 1px solid #94a3b8;
  border-radius: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}
.box-output {
  height: 160px;
  text-align: center;
}

.one {
  width: 20%;
  /* padding-top: 10px; */
}

.box-output > img {
  height: 150px;
  /* bottom: -30px; */
}
.two {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
  width: 55%;
}

.title-output {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.value-bmi {
  width: 50%;
  text-align: start;
  padding-left: 20px;
}
.info-bmi {
  width: 50%;
  border-right: 1px solid #94a3b8;
  text-align: end;
  padding-right: 20px;
}

.two > p {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #94a3b8;
  padding: 8px 4px 8px 2px;
  margin: 15px 10px 20px 10px;
}
.three {
  width: 25%;
  margin-left: 30px;
  border-left: 1px solid #94a3b8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-weight {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.info-weight-body {
  width: 50%;
  text-align: start;
  margin-left: 10px;
  padding-left: 10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.info-weight-number {
  width: 50%;
  text-align: start;
  margin-right: 10px;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bg-normal {
  background-color: #14b8a6;
  color: #f5f5f5;
}
.bg-yellow {
  background-color: #eab308;
  color: #f5f5f5;
}
.bg-red {
  background-color: #ef4444;
  color: #f5f5f5;
}
.input-hidden {
  position: absolute;
  left: -9999px;
}

#qna {
  position: relative;
  top: -190px;
  height: auto;
  overflow: auto;
  border-radius: 15px;
  background-color: #475569;
  z-index: 1;

  padding-top: 257px;
  padding-bottom: 30px;
  margin-bottom: -120px;
}

.qna-wrap {
  height: 100%;
}

.faq {
  margin-bottom: 10px;
  /* display: none; */
}
.faq-page {
  cursor: pointer;
  padding: 0 20px 0 20px;
  width: 60%;
  transition: 0.4s;
  margin: auto;
  margin-bottom: 0;
}
.faq-body {
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 60%;
  padding: 0 20px 0 20px;
  display: none;
  z-index: 1;
}

.faq-page:after {
  content: "\02795";
  font-size: 13px;
  color: #f5f5f5;
  float: right;
  /* margin-left: 5px; */
}

.active:after {
  content: "\2796";
  color: #f5f5f5;
}

#recommend {
  padding-left: 80px;
  width: 60%;
  text-align: start;
}
